<article ng-controller="seckillActivityController" >
    <!-- 上部分 -->
    <form action="" method="POST" ng-enter="search()">
        <section class="parameter">
            <div class="row">
                <div class="dropdown form-group col-lg-3">
                    <label class="col-md-2 control-label">开始时间</label>
                    <div class="dropdown-toggle col-md-8" id="activityStartDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="activityStartDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="activityStartDate" value="{{data.activityStartDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="activityStartDate">
                        <datetimepicker data-ng-model="activityStartDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#activityStartDate'}" data-on-set-time="OnSetTime('activityStartDate')"></datetimepicker>
                    </ul>
                </div>
                <div class="form-group col-lg-3">
                    <label class="col-md-2 control-label">活动状态</label>

                    <div class="col-md-8">
                        <ui-select allow-clear ng-model="data.status" theme="bootstrap" ng-change="query()">
                            <ui-select-match>{{$select.selected.stauts}}</ui-select-match>
                            <ui-select-choices repeat="item.status_id as item in zhuangtai2 | filter: $select.search"
                                               value="{{$select.selected.status_id}}">
                                <span ng-bind-html="item.stauts | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <input type="hidden" name="status" value="{{data.status}}"/>
                </div>
            </div>
        </section>
        <div class="parameter-btn">
            <button type="button" class="btn btn-raised btn-primary" ng-click="search()">查询</button>
            <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置查询条件</button>
            <button type="button" class="btn btn-raised btn-primary" ng-click="add()">新增活动</button>
        </div>
    </form>
    <!-- 下部分 -->
    <section>
        <div class="table-responsive">
            <table class="table table-hover" float-thead="floatTheadOptions">
                <thead class="table-head">
                <tr class="active">
                    <th>编号</th>
                    <th>活动档期</th>
                    <th>起止时间</th>
                    <th>参与商品数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="activityList in activityData.model" ng-click="toSeckillProduct(activityList)">
                    <td>{{$index+1}}</td>
                    <td>{{activityList.name}}</td>
                    <td>{{activityList.startDate | date :'yyyy-MM-dd HH:mm'}} 至 {{activityList.endDate | date :'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{activityList.actProdQuantity}}</td>
                    <td>

                        <a ng-hide="data.status==2" href="javascript:;" class="text-primary" ng-click="editActivity(activityList)">编辑&nbsp;</a>
                        <a ng-show="data.status==0" href="javascript:;" class="text-primary" ng-click="outline(activityList)">上线&nbsp;</a>
                        <a ng-show="(data.status==1 || data.status==2)" href="javascript:;" class="text-primary" ng-click="outline(activityList)">下线&nbsp;</a>
                        <a ng-show="(data.status==-1)" href="javascript:;" class="text-primary" ng-click="outline(activityList)">删除&nbsp;</a>
                        <a ng-show="data.status==-1" href="javascript:;" class="text-primary" ng-click="outline(activityList)">还原&nbsp;</a>
                        <a ng-show="data.status==0" href="javascript:;" class="text-primary" ng-click="outline(activityList)">回收</a>
                    </td>
                    <td>
                        <a href="javascript:;" class=" btn btn-raised text-primary" ng-click="toSeckillProduct(activityList)">查看活动商品&nbsp;</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-if="!activityData.model.length" class="noData text-center">暂无数据</div>
        </div>
        <section style="margin:0 0 10px 5px;">本次查询共 <strong>{{activityData.query.total || 0}}</strong>个结果</section>
        <div class="row">
            <div class="col-md-9">
                <select class="page-size" ng-model="data.pageSize" ng-change="pageChanged()">
                    <option value="20" ng-selected="true">每页显示20条</option>
                    <option value="40">每页显示40条</option>
                    <option value="60">每页显示60条</option>
                    <option value="80">每页显示80条</option>
                    <option value="100">每页显示100条</option>
                </select>
                <uib-pagination ng-change="pageChanged()" ng-model="data.pageNum" total-items="activityData.query.total"
                                max-size="maxSize" items-per-page="data.pageSize" class="pagination-sm"
                                boundary-link-numbers="true"
                                rotate="false" previous-text="上一页" next-text="下一页"></uib-pagination>
            </div>
            <div class="col-md-3 text-right">
                <span>跳转到</span>
                <input type="text" ng-model="toPageNum" class="variant-form-control">
                <button ng-click="setPage()" class="to-page-num">确定</button>
            </div>
        </div>
    </section>
</article>
<!--添加弹框-->
<script type="text/ng-template" id="addActivity.html">
    <form name="addActivityForm">
        <div class="panel-body">
            <h4>添加活动</h4>
            <div class="row">
                <div class="dropdown form-group col-lg-6">
                    <label class="col-md-2 control-label">开始时间</label>

                    <div class="dropdown-toggle col-md-8" id="startDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="startDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="startDate" value="{{data.startDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="startDate">
                        <datetimepicker data-ng-model="startDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#startDate'}"
                                        data-on-set-time="OnSetTime('startDate')"></datetimepicker>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span class="text-danger pull-left" ng-bind="error"></span>
            <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                    ng-disabled="!addActivityForm.$valid">保存
            </button>
            <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">关闭</button>
        </div>
    </form>
</script>
<!--编辑弹框-->
<script type="text/ng-template" id="editActivity.html">
    <form name="editActivityForm">
        <div class="panel-body">
            <h4>编辑活动</h4>
            <div class="row">
                <div class="dropdown form-group col-lg-6">
                    <label class="col-md-2 control-label">开始时间</label>

                    <div class="dropdown-toggle col-md-8" id="startDate1" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="item.startDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="startDate1" value="{{item.startDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="startDate1">
                        <datetimepicker data-ng-model="item.startDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#startDate1'}"
                                        data-on-set-time="OnSetTime('startDate')"></datetimepicker>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span class="text-danger pull-left" ng-bind="error"></span>
            <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()"
                    ng-disabled="!editActivityForm.$valid">保存
            </button>
            <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">关闭</button>
        </div>
    </form>
</script>
