<ul class="nav nav-list side-nav panel panel-default" active-link ng-controller="SideNavController">
    <li class="side-brand">
        <a href="#/">
            <div><i class="iconfont icon-yingxiao1 side-nav-top-icon" aria-hidden="true"></i></div>
            <div class="side-title">营销活动管理系统</div>
        </a>
    </li>
    <li hide-parent="ul">
        <label class="top-tree tree-toggle withripple" toggle-menu><i style="margin-right: 5px;font-size: 18px;" class="iconfont icon-yingxiao2" aria-hidden="true"></i>营销活动<i style="margin-top: 4px;" aria-hidden="true" class="fa fa-angle-right pull-right"></i></label>
        <ul class="nav nav-list tree">
            <li><a class="withripple third-tree" ng-href="#/marketingActivity/seckillActivity"><i class="fa fa-circle" aria-hidden="true"></i>秒杀活动</a></li>
            <!--<li><a class="withripple third-tree" ng-href="#/marketingActivity/timeLimitSale"><i class="fa fa-circle" aria-hidden="true"></i>限时特价</a></li>-->

        </ul>
    </li>

</ul>
